.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    span{
    display: flex;
    align-items: center;
    gap: 5px;
    }
img {
    width: 20px;
    height: 20px;
    padding: 10px;
}
}
.SkillList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 26ch;
}

@media (width >= 800px) {
    .SkillList {
        max-width: fit-content;
        gap: 30px;

        p {
            font-size: 20px;
        }
    }
}